<%- include("../partials/header.ejs") %>
    <h1>Students and ID's</h1>
    <ul>
        <% students.forEach(function(s) { %>
        <li>
            <%= s.student %>
            - 
            <%= s.student && s.id %>
        </li>
        <% }); %>
    </ul>
<%- include("../partials/footer.ejs") %>